.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

img{
    width: 400px;
    animation-name: child;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;
    
}

@keyframes child {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,20px);

    }
}