
  .d-block{
    height: 550px;
  }
.one{
  padding: 10px;
  background-color: pink;
  border-radius: 50%;
  transform: translate(-215px, 0px);
  box-shadow: 0px 0px 5px 1px gray;
}
.input:focus~.one{
  animation-name: inpOne;
  animation-duration: 0.3s;
  
  animation-fill-mode:forwards;
  }
@keyframes inpOne {
  0%{
    transform: translate(-210px,0px);
  }
  100%{
   transform: translate(-190px , 0px);
  }
}
.two{
  padding: 10px;
  background-color: #bee9e8;
  border-radius: 50%;
  transform: translate(-17px, 0px);
  box-shadow: 0px 0px 5px 1px gray;
}

.input {
 padding: 5px;
  color: white;
  margin-top: 5px;
  border: 1px solid gray;
  position: relative;
  z-index: 22;
  box-shadow: 0px 0px 5px 1px gray;
  border-radius: 4%;
  
}

.input:focus ~.two{
animation-name: inp;
animation-duration: 0.3s;

animation-fill-mode:forwards;
}
.input:focus{
  background-color: #c8ebfa;
  color: white;
  border: 1px solid gray;
  outline: none;
}
@keyframes inp {
  0%{
    transform: translate(0px,0px);
  }
  100%{
   transform: translate(-41px , 0px);
  }
}


  /* .parent{
    border: 1px solid gray;
    border-radius: 3%;
    text-align: center;
    width: 200px;
    box-shadow: 0px 0px 2px 2px rgb(102, 101, 101);
    margin-top: 70px;
    
  } */
  .h {
    
    transition-duration: 0.3s;
    transition-delay: 0.1s;
  }

   .h:hover{
    transform: translate(0px ,-15px);
  }
  img{
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    height: 150px;
    width: 270px;
  }
  
   
  .opa h1{
    text-align: center;
    
  }
   .opa{
    /* transform: translateY(130px); */
    text-align: center;
    margin: auto;
    background-color: black;
    opacity: 0.6;
    text-align: center;
    width: 400px;
    color: white;
    font-weight: bold;
    margin: auto;
   }
   /* .search{ */
/* background-color: #bee9e8; */
  /* } */
/* =======
   .cardss{
    margin-top: 20px;
    display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
   }
      .h{
        
       width: 400px;
       height: 310px;
       margin: 50px auto;
      }
      .btns{
        display: flex;
        justify-content: space-evenly;
        margin-top: 80px;
      }
>>>>>>> 24d18f96c991f918a721691123b5fb346513ae87

      .gif h1{
        text-align: center;
        border: 1px solid gray;
        box-shadow: 0px 0px 6px 2px gray;
        width: fit-content;
        margin: 20px auto ;
        padding: 10px;
      }
  .gif{
    box-shadow: 0px 0px 6px 2px black;
    padding: 10px;
    color: white;
    width: 400px;
    /* margin: 10px; */
    /* height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/originals/dc/7b/49/dc7b49b3f913908b7556f8a34c338bd3.gif");
  }
.slid{ */
   
/* } */


  /* @media  (max-width: 900px) { */
    /* .slid{ */
      /* display: none; */
    

  /* /* @media (max-width:899) { */
    .anm-img{
      visibility: hidden;
    }
  

  