.card{
    display: flex;
    justify-content: space-around;
    margin: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    
  }

  .card .parent{
    border: 1px solid gray;
    border-radius: 3%;
    text-align: center;
    width: 200px;
    box-shadow: 0px 0px 2px 2px rgb(102, 101, 101);
    margin-top: 70px;
    
  }
  .h {
    
    transition-duration: 0.3s;
    transition-delay: 0.1s;
  }

   .h:hover{
    transform: translate(0px ,-15px);
  }
  img{
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    height: 150px;
    width: 270px;
  }
  p{
    color: rgb(75, 74, 74);
  }
   

   