.Nav{
display: flex;
justify-content: space-between;
}
.Create{
  border: 5px solid black;
  /* display: flex; */
}
.collapse navbar-collapse{
display: flex;
justify-content: space-between
;
background-color: aquamarine;
}

.parent-btn2{
  display: flex;
  justify-content: end;
}
.APP video{
  position: absolute;
  object-fit: cover;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.Activity1{
margin-top: 100px;

  display: flex;
  justify-content: space-around;
}
#About{
  display: flex;
  justify-content: space-around;
  margin: 0;
  align-items: center;
  /* width: 100%; */
}
#About .nnn{
  height: 570px;
  width: 650px;
  box-shadow: 0px 0px 6px 2px gray;
  margin-top: 20px;
}
.welcome{
  position: absolute;
  top: 200px;
  left: 50%;
  right: 50%;
  width: 200px;
  z-index: 2343;
  width: 300px;
  color: white;
  font-size: xx-large;
}
.vd{
  filter: brightness(0.8);
}
.logo{
  width: 90px;
  transform: translate(0px,-8px);
}
/* .q{
  display: flex;
  justify-content: space-between;
} */
.login{

  display: flex;
/* justify-content: left; */
  /* width: 100%; */
  margin-left:80px;
   

  /* justify-content:right; */
background-image: url('https://cdn.discordapp.com/attachments/1032613167446102037/1039860005542821928/Cute_Colorful_Baby_Daycare_Center_Logo_1.png');


   
}
.changeColorDay{
  display: flex;
  
}

